/*---------- VALIDAÇÕES ----------*/

#nomee_add_empresa{
    display: none;
}

#telefone_add_empresa{
    display: none;
}

#telefonem_add_empresa{
    display: none;
}

#emaile_add_empresa{
    display: none;
}

#emailev_add_empresa{
    display: none;
}

#localizacao_add_empresa{
    display: none;
}

#nomeu_add_empresa{
    display: none;
}

#utilizador_add_empresa{
    display: none;
}

#telemovelu_add_empresa{
    display: none;
}

#telemovelum_add_empresa{
    display: none;
}

#emailu_add_empresa{
    display: none;
}

#emailuv_add_empresa{
    display: none;
}

#pass_add_empresa{
    display: none;
}

#pass_min_add_empresa{
    display: none;
}

#cpass_add_empresa{
    display: none;
}

#passd_add_empresa{
    display: none;
}

/*---------- /VALIDAÇÕES ----------*/