#sem_empresas{
	display: none;
}


.btn_adicionar{
	background-color: rgb(0,33,222);
	color: rgb(255,255,255);
	margin: 0.5% 2% 3% 0%;
}

.div_vazio_empresas{
	padding: 15% 0% 0% 30%;
	font-size: 50px;
}